<app-card>
    <h3 class="md:text-lg text-base md:font-medium font-normal mb-4">Personal Information</h3>

    <app-employee-form #formRegisterEmployee (employeeRegisterEvent)="registerEmployeeHandle($event)"/>

    <div class="flex justify-end mt-5">
        <button type="reset" (click)="formRegisterEmployee.form.reset()" class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">Reset</button>
        <button (click)="formRegisterEmployee.onSubmit()" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Register</button>
    </div>
</app-card>


